$colorDarkGrey: #546E7A;
$colorLighterDarkGrey: #8EA5BB;
$colorNeutralsGrey: #AFB1BD;
$colorLightGrey: #979797;
$colorLightGrey2: #F8F8F8;
$colorNeutralsSnow: #F9F9FB;
$colorGreen: #80C41C;
$colorLightGreen: #CBEF95;
$colorTransGreen: rgba(128, 196, 28, 0.2);
$colorNavy: #011D58;
$colorLightNavy: #C2D5FE;
$colorBg1: #EBF1FF;
$colorBg2: #F9F9FB;
$colorRed: #EB5757;
$colorLightBlue: #EBF1FF;
$colorLightBlue2: #5C9EF0;
